name: .NET Microservices CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Run Integration Tests via Docker Compose
        working-directory: TakeHomeTest
        run: docker-compose up --build --exit-code-from integration-tests integration-tests

      - name: Tear Down Containers
        if: always()
        working-directory: TakeHomeTest
        run: docker-compose down -v
